body {
    background-color: oklch(82.8% 0.111 230.318);
    /* color: #ffffff; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 20px; */
}

.box-gradient {
  background: linear-gradient(to bottom, #fafafa, #e5e5e5);
}